<center>   
  <i class='fab fa-github'></i>  <a href="https://github.com/aws-samples/aws-get-started-workshop" target="_blank" >GitHub Project</a>
  <br><br>
  <p>
    <a class="github-button" href="https://github.com/aws-samples/aws-get-started-workshop" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>
  &nbsp;<a class="github-button" href="https://github.com/aws-samples/aws-get-started-workshop/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork on GitHub">Fork</a><br />
  </p>
  <br><br>
  <p>Page Updated: {{ .Lastmod.Format "January 2, 2006" }}</p>
  <br><br>
  <p><a href="https://aws.amazon.com/privacy/?nc1=f_pr">Privacy</a> | <a href="https://aws.amazon.com/terms/?nc1=f_pr">Site Terms</a> | © 2020, Amazon Web Services, Inc. or its affiliates. All rights reserved.</p>
</center>
<script async defer src="https://buttons.github.io/buttons.js"></script> 